@{
	ViewData["Title"] = "Home Page";
}


@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<div class="row with-padding-top">
	<div class="col-sm-12">
		@if (!User.Identity.IsAuthenticated)
		{
			<div>You're not logged into the system!</div>
		}
		else
		{
			<div>Welcome @User.Identity.Name</div>
		}
		@if (User.IsInRole("admin"))
		{
			<div>You are an admin</div>
			<h3>List of all users</h3>
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Email</th>
						<th>Role</th>
					</tr>
				</thead>
				<thead>
					@foreach (ApplicationUser user in UserManager.Users)
					{
						<tr>
							<td>@user.Email</td>
							<td>
								@foreach (var role in await UserManager.GetRolesAsync(user))
								{@role;
							}
							</td>
						</tr>
					}
				</thead>
			</table>
			@Html.ActionLink("Add User", "AddUser", "Account")
		}
	</div>
</div>
